@import "~jspsych/css/jspsych.css";

.gi-image-button, .gi-image-agent {
  position: absolute;
  width: 10%; 
  height: 10%; 
}

.gi-image-button {
  background-color: green;
  cursor: pointer;
}

.gi-image-agent {
  width: 10%; 
  height: 10%; 
  background-color: orange;
  border-radius: 50%;
}

.jspsych-content {
  position: relative;
}

.hl {
    display: none;
    height: 5px;
    background-color: #000000;
    margin: 1em 0;
    padding: 0;
    position: absolute;
    width: 1000%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* consent.html - the consent form */
.consent {
    display: block;
    margin: 0px;
    padding-top: 20vh;
    height: auto;
    width: 960px;
    font-size: 100%;
    overflow: visible;
}

.legal {
    text-align: justify;
    font-size: 12pt;
    line-height: 1.1em;
}
